<div class="page-content">
  <md-content layout-padding layout-sm="column">
    <h1>MuniButler</h1>
    <h4>Fast, reliable MUNI times for your commute to work and home.</h4>
    <div ng-show="routes.length === 0 || newroute">
      <form name="addressform" ng-submit="enter" novalidate>
        <!-- input for from address -->
        <md-input-container md-no-float>
          <label>From</label>
          <input class="autocomplete" type="text" ng-model="user.from" placeholder="" required>
        </md-input-container>
        <!-- input for to address -->
        <md-input-container md-no-float>
          <label>To</label>
          <input class="autocomplete" type="text" ng-model="user.to" placeholder="" required>
        </md-input-container>
      </form>
      <md-button id="form-submit-button" class="md-primary" ng-click="submit(addressform.$valid)">Go!</md-button>
      <map zoom="18" id="routes-map" class="map-home"></map>
    <!-- saved routes -->
    </div>
    <div ng-show='routes.length > 0' class="page-content">
      <p ng-click="newroute = !newroute; msgChange();">{{msg}}</p>
      <h3>My Routes</h3>
      <md-card class="my-routes" ng-repeat="route in routes | filter:search | orderBy:'-id'">
        <md-card-content>
          <div class="busNumber">{{ route.route[0] }}</div> 
          <div class="stopName">{{ route.route[1] }}</div>
        </md-card-content>
      </md-card>
      {{ route.route }}
    </div>
  </md-content>
</div>