<div class="loginbutton page-content" ng-controller="LogController">
  <div ng-click="here=!here; seekoption();">
    <p>Log In</p>    
  </div>
  <div ng-show="here">
    <ul>
      <li ng-repeat='option in options'>{{ option }}</p>
    </ul>
  </div>
</div>
<div class="page-content" ng-controller="HomeController">
  <h1>MuniButler</h1>
  <h4>Fast, reliable MUNI times for your commute to work and home.</h4>
  <form name="addressform" ng-submit="addressform.$valid && submit()" novalidate>
    <md-content layout-padding layout-sm="column">
      <!-- input for from address -->
      <md-input-container md-no-float>
        <label>From</label>
        <input class="autocomplete" type="text" ng-model="user.from" placeholder="" required>
      </md-input-container>
      <!-- input for to address -->
      <md-input-container md-no-float>
        <label>To</label>
        <input class="autocomplete" type="text" ng-model="user.to" placeholder="" required>
      </md-input-container>
      <md-button class="md-raised md-primary">Submit</md-button>
    </md-content>
  </form>
  <map zoom="18" center="[37.783724,-122.408978]" disable-default-u-i="true" disable-double-click-zoom="true" draggable="false" draggable-cursor="help" dragging-cursor="move" keyboard-shortcuts="false" max-zoom="12" min-zoom="8" tilt="45" map-type-id="TERRAIN"></map>
  <!-- saved routes -->
  <h2 ng-show='routes.length > 0'>Saved Routes</h2>
  <ul>
    <li class='route' ng-repeat='route in routes | filter:search | orderBy:"-id"'>
      <p class='from'> {{ route.from }} </p>
      <p class='to'> {{ route.to}} </p>
      <p class='routeFrom'> {{ route.routeFrom }}  </p>
      <p class='routeTo'> {{ route.routeTo }}  </p>
    </li>
  </ul>
</div>

 