  <md-content layout-padding layout-sm="column">
    <map zoom="18" id="routes-map"></map>
    <h3>Trip</h3>
    <md-card>
      <md-card-content>
        <div class="address-label">Leaving from:</div>
        <div class="address">{{ model.trip['from'] }}</div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="address-label">Arriving at:</div>
        <div class="address">{{ model.trip['to'] }}</div>
      </md-card-content>
    </md-card>
    <h3>{{ model.routeHeading }}</h3>
<md-card class="route-option" ng-repeat="route in model.routeOptions track by $index" ng-click="model.selectRoute(route)">
      <md-card-content>
        <div ng-repeat="lineInfo in route.lines" class="bus-number">{{ lineInfo[0] }}</div>
        <div class="duration">{{ route.duration }}</div>
        <div class="arrival-times" ng-show="route.arrivalTimes.length > 0">Arriving in
          <div class="time" ng-repeat="time in route.arrivalTimes track by $index">{{ time }}</div> minutes</div>
        <div class="arrival-times no-times" ng-show="route.arrivalTimes.length === 0">No times available</div>
        
        <div class="stop">{{ route.lines[0][1] }}</div>
      </md-card-content>
    </md-card>
  </md-content>