<div class="page-content">
  <md-content layout-padding layout-sm="column">
    <div>
      <map zoom="18" center="[37.783724,-122.408978]" disable-default-u-i="true" disable-double-click-zoom="true" draggable="false" draggable-cursor="help" dragging-cursor="move" keyboard-shortcuts="false" max-zoom="12" min-zoom="8" tilt="45" map-type-id="TERRAIN"></map>
    </div>
    <div id="map"></div>
    <div class="edit-trip-button"><h3>Trip</h3><span>Edit</span></div>
    <md-card>
      <md-card-content>
        <div class="tripLabel">Leaving from:</div>
        <div class="departure-address">{{ user.trip['from'] }}</div>
      </md-card-content>
    </md-card>
     <md-card>
      <md-card-content>
        <div class="tripLabel">Arriving at:</div>
        <div class="destination-address">{{ user.trip['to'] }}</div>
      </md-card-content>
    </md-card>
    <h3>Routes</h3>
    <md-card class="route-option" ng-repeat="route in user.routeOptions.routes" ng-click="user.selectRoute(route.lines[0][0], route.lines[0][1])">
      <md-card-content>
        <div class="duration">{{ route.duration }}</div>
        <div class="stopName">{{ route.lines[0][1] }}</div>
        <div ng-repeat="lineInfo in route.lines" class="busNumber">{{ lineInfo[0] }}</div>
      </md-card-content>
    </md-card>
  </md-content>
</div>

