<div class="page-content">
  <md-content layout-padding layout-sm="column">
    <div>
      <map zoom="18" center="[37.783724,-122.408978]" disable-default-u-i="true" disable-double-click-zoom="true" draggable="false" draggable-cursor="help" dragging-cursor="move" keyboard-shortcuts="false" max-zoom="12" min-zoom="8" tilt="45" map-type-id="TERRAIN"></map>
    </div>
    <md-card>
      <md-card-content>
        <p>{{ user.newRouteAddresses['to'] }}</p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <p>{{ user.newRouteAddresses['from'] }}</p>
      </md-card-content>
    </md-card>
    <!-- List of route options for user to choose from -->
    <md-list>
      <md-list-item class="sm-3-line">
        <div class="md-list-item-text">
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>